<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer">
		<h1>하단영역</h1>
		<div>
			<section id="company">
				<h1>회사정보</h1>
				<div>
					
					<div class="cs_left">
						<ul>
							<li class="title">C/S</li>
							<span></span>
						</ul>
						<ul>
							<li class="cs_tel">070.8815.7777</li>
							<li class="tel_time">"09:30~18:00"
							<span>(토,일요일, 공휴일은 휴무)</span>
							</li>
						</ul>
					</div>
					
					<div class="cs_right">
						<p class="title">COMPANY</p>
							<div class="info_a">
								<div class="info_1">
									<dl>
										<dt>상호</dt><dd>잠백이</dd>
									</dl> 
									<dl>
										<dt>대표</dt><dd>김재윤</dd>
									</dl>
									<dl>
										<dt>사업자등록번호</dt><dd>587-37-00425</dd>
									</dl>
								</div>
								<dl>
									<dt>통신판매업</dt><dd>신고 제 2017-서울강남-03872호&nbsp;&nbsp;&nbsp;<a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=5873700425">[사업자정보확인]</a></dd>
								</dl>
								
								<dl>
									<dt>전화</dt><dd> 070-8815-7777</dd>
								</dl>
								<dl>
									<dt>주소</dt><dd>서울특별시 송파구 석촌호수로 210 (석촌동) 1층 113호(석촌동, 석촌호수 효성해링턴타워)</dd>
								</dl>
								<dl>
									<dt>개인정보관리책임자</dt><dd>송기흔 (jambaekee@jambaekee.com)</dd>
								</dl>
							</div>
					</div>
				</div>
			</section>
			
			<section class="use_rule">
				<h1>이용약관</h1>
				<div>
						<span class="int_site">
							<img alt="카페24" href="https://www.cafe24.com/" src="/images/bn_cafe24.png">
							<img alt="이니시스	" href="https://jambaekee.com/index.html#" src="/images/pg_kg.jpg">
						</span>
							<span class="caution">
								고객님은 안전거래를 위해 결제시 저희 쇼핑몰에서 가입한 구매안전 서비스를 이용하실 수 있습니다.<button>서비스 가입 사실확인 </button>
							</span>
						<div>
							<button>이용약관</button>
							<button>개인정보취급방침</button>
							<button>이용안내</button>
						</div>
				</div>
			</section>
		</div>
	</footer>
</body>
</html>