<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/visual.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/visual.css">
</head>
<body>
	<!-- 헤더 태그를 포함할 영역 /commons/header.html의 플래그먼트 header를 포함시킨다. -->
	<div th:insert="/commons/header :: header"></div>
	<main>
		<section id="visual">
			<!-- li(이미지들) 1장만 보여줄 크기 -->
			<div class="visual-area">
				<!-- li를 여러개 늘여뜰인 통짜이미지ul로 -->
				<ul class="images-wrap">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</section>
		<section id="qna">
			<dl class="qna_three">
				<dt><br>최고가 아니면 만들지 않습니다.</dt>
				<dd><br>무분별하게 생산, 유통되는 건강식품 시장에서</dd>
				<dd><br>진실된 제품이 무엇인지 보여드리겠습니다.</dd>
			</dl>
			<div class=3image>
				<img alt="광고" src="/images/left.jpg">
				<img alt="광고" src="/images/center.jpg">
				<img alt="광고" src="/images/right.jpg">
			</div>
		</section>
	</main>
	<!-- 헤더 태그를 포함할 영역 /commons/footer.html의 플래그먼트 footer를 포함시킨다. -->
	<div th:insert="/commons/footer :: footer"></div>

</body>
</html>